/*shared section style */
*{
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
}
.text-highlighted{
    color: red;
}
button{
    border: none;
    cursor: pointer;
    font-size: 20px;
}
/*header section style */
/*navbar style */
.navigation-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #D5D2D2;
    height: 80px;
}
.navigation-link a{
    text-decoration: none;
    color: black;
    margin: 10px;
    font-size: 22px;
}
.navigation-link a:hover{
    color: rgb(253, 116, 4);
    text-decoration: underline;
}
/*banner section style */
.banner-section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: url('../asset/image/background.jpg'), linear-gradient(rgb(85, 85, 85), rgb(82, 81, 81));
    background-blend-mode: overlay;
    background-size: cover;
}
.banner-info{
    width: 60%;
    text-align: center;
    padding: 20px;
    color: white;
}
.banner-title{
    font-size: 65px;
}
.banner-description{
    margin: 30px 0;
    font-size: 20px;
}
.banner-info button{
    padding: 15px 20px;
    margin: 0 5px;
}
.discover-more-btn{
    background-color: red;
    color: white;
    border: none;
}

/* section style */
.service-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('../asset/image/footer-bg.png'), linear-gradient(90deg,rgb(53, 52, 52), rgb(116, 114, 114));
    height: 100vh;
    padding: 0 50px;
}
.service-column{
    width: 50%;
}
.service-info{
    color: white;
    /* padding-left: 100px; */
}
.service-list-btn{
    color: black;
    padding: 10px 35px;
    background-color: white;
    border-radius: 15px;
}
.service-info h1{
    font-size: 55px;
}

.service-list{
    margin-top: 10px;
    margin-left: 20px;

}
.service-list li{
    list-style: number;
    margin-bottom: 5px;
}
.director-details{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}
.director-info{
    display: flex;
    align-items: center;
    gap: 10px;
}
.director-info img{
    border-radius: 50%;
}
.director-info h4{
    margin-bottom: 0;
}
.director-info p{
    margin-top: 0;
}
.director-details-btn{
    border-left: 3px solid red;
    padding: 10px;
}
.director-details-btn button{
    color: black;
    padding: 10px 15px;
    background-color: white;
    margin: 20px;
    border-radius: 15px;
}

.service-img{
    margin: auto;
    padding-left: 100px;
    text-align: center;
}
.service-first-part, .service-second-part{
    display: flex;
}
.service-part{
    background-color: white;
    border-radius: 8px;
    margin: 10px;
    padding: 20px 25px;
}
.service-part img{
    height: 200px;
    width: 220px;
}
/* section style */
/* section style */